body { font-family: Verdana; font-size: 8pt }
  th { background-color: yellow }
.Highlight { background-color: #e7e7e7 }


.Band1 { background-color: #9CCFFF; color: black   }
.Band2 { background-color: #6699CC; color: white   }
.Band3 { background-color: #336699; color: #CCFFCC; font-weight:bold }

.Odd  {background-color: #f7f7e7; color: black}
.Even {background-color: #f9f9f9; color: black}

.tr1  {background-color: #f7f7e7; color: black}
.tr0  {background-color: #f9f9f9; color: black}
